<!DOCTYPE html>

<html>
<head> 
</head>
<body>
<iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=https://soundcloud.com/liltecca/ransomwrld" allow="autoplay" width="640" height="390" scrolling="no" frameborder="no"></iframe>
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script type="text/javascript">
  (function(){
    var widgetIframe = document.getElementById('sc-widget'),
        widget = SC.Widget(widgetIframe);

    widget.bind(SC.Widget.Events.READY, function() {
        widget.bind(SC.Widget.Events.FINISH, function() {
            location.reload()
        });
    });

  }());
</script>
</body>
</html>
