<!DOCTYPE html>

<html>
<head> 
</head>
<body>
    <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=" scrolling="no" width="640" height="390" frameborder="true"></iframe>
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script type="text/javascript">
  (function(){
    var widgetIframe = document.getElementById('sc-widget'),
      widget = SC.Widget(widgetIframe);
      
      widget.bind(SC.Widget.Events.FINISH, function() {
        location.reload()
      });
    widget.bind(SC.Widget.Events.READY, function() {
      widget.load("https://soundcloud.com/liltecca/ransomwrld&auto_play=true");
    });

  }());
</script>
</body>
</html>
